
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TeamUp!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">    
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/controlpage.css">


    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" rel="stylesheet" type="text/css">

  </head>

  <body>

  <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand">TeamUp!</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/userpage">My Tasks</a></li>
              <li><a href="/eventinfo">Event Info</a></li>
              <li><a href="/controlpage">Teammates</a></li>
              <li class="active"><a href="/about_logged">About</a></li>
            </ul> </div> 
            <div class="nav-collapse collapse">
            <u1 class ="nav navbar-nav navbar-right pull-right">
              <li><a href="/">Sign Out</a></li>
            </u1> 
          </div></div><!--/.nav-collapse --> 
        </div>
      </div>
    </div> 

  <body>

<!--insert navbar here--> 

<div class="container">
      <p class="h1">
          <h3 style="color:#6ec5b8">About Us</h3>
      </p> 
</div>

<div class="container">
  <div class="fluid-row">
    <p>Event management system. A service that will allow you to manage and coordinate events with ease. In a large event, it is not easy to coordinate the tasks of all the volunteers and staff. Texting and calling doesn't scale up. This web app will allow you to see everyone and what tasks they are doing in real time. You can assign tasks to groups of people or individually, and then push the tasks to their phones where they will get a notification. Simplify your event management with TeamUp! </p> 
  </div>
  <div class="fluid-row">
    <p>
      contact us at: ranintoatreetechnologies@gmail.com
    </p>
  </div>
      
</div>

</body> 