<link rel='stylesheet' href='/stylesheets/controlpage.css' />

<body>
	<div id="headerBar"> 
		<div class ="headerBar">
			Team Up! 
		</div>
	</div> 

	<div id="sendTask">
		<div class="sendTask">
		Send out a task. 

		</div> 
		<div class="sendTask">
		Name field
		</div> 
		<div class="sendTask">
		Task field
		</div> 
		<div class="sendTask">
		details field
		</div> 
	</div> 

	

	<div id=" "
	<div id="taskContainer">
		<div class="taskContent">
			task name
		</div>
		<div class="taskContent">
			location
		</div>
		<div class="taskContent">
			time
		</div>
		<div class="taskContent">
			details
		</div>
	</div>

	blah </div> </div>
	<button type="button" name="" value="" class="orangeButton">Send</button>
</body>