<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TeamUp!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="/stylesheets/common.css">  
    <link rel="stylesheet" href="/stylesheets/index.css">  
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
    <script src="/scripts/indexscript.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,300,400,600,700,800" 
          rel="stylesheet" type="text/css">
  </head>
  <body>

    <!-- Mobile-friendly navbar adapted from example. -->
    <!-- http://twitter.github.io/bootstrap/examples/starter-template.html -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar"
                  data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TeamUp!</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a>Home</a></li>
              <li><a href="/userpage">Info</a></li>
              <li><a href="/controlpage">People</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- We use row-fluid inside containers to achieve a resizable layout. -->
    <!-- blogs.endjin.com/2013/04/tips-for-implementing-responsive-designs-using-bootstrap/ -->
    <!-- http://stackoverflow.com/a/12270322 -->
    <div class="container">
      <!-- Font and paired font of .heading/.subheading and body from Google Fonts -->
      <!-- www.google.com/fonts/specimen/Ubuntu -->
      <!-- www.google.com/fonts/specimen/Ubuntu#pairings -->
      <div class="row-fluid pic">
        <img class="logo" src="/images/logo.png" onclick="pop()">
      </div>
      <div class="row-fluid heading actions">
        <div class="span12">
          <a href="http://www.google.com" style="text-decoration: none">
            <span class="hyperspan"></span>
            <h1>Team Up Now!</h1>
          </a>
        </div>
      </div> 
      <div class="row-fluid subheading">
        <div class="span12 padbot">
          <!-- Special typography from Bootstrap for lead paragraph. -->
          <!-- http://twitter.github.io/bootstrap/base-css.html#typography -->
          <p class="lead">manage and coordinate events with ease</p>

        </div>
      </div>





      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                <h1> Sign in </h1>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            
            <div class="row-fluid">
              <div class="span6 offset3">
                <form method="post" action="/" class="form-horizontal boxcontainer">
                  <div class="control-group padtop">
                    <label class="control-label" for="username">Name</label>
                    <div class="controls">
                      <input type="text" name="username" placeholder="Name" autofocus>
                    </div>
                  </div>
                  <div class="control-group ">
                    <label class="control-label" for="userpass">Password</label>
                    <div class="controls">
                      <input type="password" name="userpass">
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn" name="signin" >Sign In</button>
                    </div>
                  </div>
                </form>
              </div>
             </div>



          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                <h1> Register an Event </h1>
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            

            <div class="row-fluid">
              <div class="span6 offset3">
                <form method="post" action="/" class="form-horizontal boxcontainer">
                  <div class="control-group  padtop">
                    <label class="control-label" for="teamname">Event Name</label>
                    <div class="controls">
                      <input type="text" name="teamname" placeholder="Event Name">
                    </div>
                    <label class="control-label" for="teamname">Location</label>
                    <div class="controls">
                      <input type="text" name="locationname" placeholder="Location">
                    </div>
                    <label class="control-label" for="teamname">Date and Time</label>
                    <div class="controls">
                      <input type="text" name="dateandtime" placeholder="Date and Time">
                    </div>
                    <label class="control-label" for="teamname">Description</label>
                    <div class="controls">
                      <input type="text" name="description" placeholder="Description">
                    </div>

                  </div>
                  <div class="control-group padtop">
                    <div class="controls">
                      <button type="button" class="btn" name="regevent">Register Event</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                <h1> Register for an Event </h1>
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">


            <div class="row-fluid" id="registerUserForm">
              <div class="span6 offset3">
                <form method="post" action="/" class="form-horizontal boxcontainer">
                  <div class="control-group padtop">
                    <label class="control-label" for="username">Name</label>
                    <div class="controls">
                      <input type="text" name="username" placeholder="Name" autofocus>
                    </div>
                    <label class="control-label" for="userpass">Password</label>
                    <div class="controls">
                      <input type="password" name="userpass">
                    </div>
                    <label class="control-label" for="teamname">Email</label>
                    <div class="controls registerShow">
                      <input type="text" name="email" placeholder="Email">
                    </div>
                    <label class="control-label" for="teamname">Phone Number</label>
                    <div class="controls">
                      <input type="text" name="phonenumber" placeholder="Phone Number">
                    </div>
                    <label class="control-label" for="teamname">Event Name</label>
                    <div class="controls">
                      <input type="text" name="eventname" placeholder="Event Name">
                    </div>
                    <div class="controls">
                      <button type="submit" class="btn" name="reguser" >Register For An Event</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>



          </div>
        </div>
      </div>



      <!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
      <!-- http://creativecommons.org/licenses/ -->
      <div class="row-fluid footer">
        <div class="span12">
          <p>This work is licensed under
            the <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC
              By-SA 3.0
            </a>, without all the cruft that would otherwise be
            put at the bottom of the page.</p>
        </div>
      </div>
    </div>
  </body>
</html>
