<link rel='stylesheet' href='/stylesheets/userpage.css' />

<body>
	<div id="infoBar">
		<img src='/images/logo.png' id="logo">
		<div id="infoBarInfo">
			team up!
		</div>
	</div>
	<div id="taskContainer">
		<div class="taskContent">
			<div>
				task name task name task name task name task name task name task name task name task name task name task name task name task name 
			</div>
		</div>
		<div class="taskContent">
			<div>
				location
			</div>
		</div>
		<div class="taskContent">
			<div>
				time
			</div>
		</div>
		<div class="taskContent">
			<div>
				details
			</div>
		</div>
	</div>

	<div id="contactBar">
		<div id="mainContact">
			<img src="/images/noimagefound.jpg">
			<div> fdafsf</div>
		</div>
		<div id="groupContacts">
			sdfdf
		</div>
	</div>
</body>