<link rel='stylesheet' href='/stylesheets/userpage.css' />

<body>
	<div id="taskContainer">
		<div class="taskContent">
			task name
		</div>
		<div class="taskContent">
			location
		</div>
		<div class="taskContent">
			time
		</div>
		<div class="taskContent">
			details
		</div>
	</div>
</body>